@import "../styles/var.scss";
@import "../styles/media-mixins.scss";

.activity {
  padding: 160px 0px;
  background-color: $gray;

  @include media-breakpoint-down(576) {
    padding: 64px 0px;
  }

  &-content {
    width: 100%;
    margin-bottom: 88px;
    align-items: flex-start;

    @include media-breakpoint-down(812) {
      flex-direction: column;
      margin-bottom: 40px;
    }

    &-box {
      &_1 {
        min-width: 516px;
        margin-right: 80px;

        @include media-breakpoint-down(1024) {
          min-width: 440px;
        }

        @include media-breakpoint-down(576) {
          min-width: unset;
          margin-right: 0;
        }
      }
      &_2 {
        min-width: 592px;

        @include media-breakpoint-down(1280) {
          min-width: unset;
        }
      }
    }

    &__title {
      position: relative;
      margin-bottom: 40px;

      font-family: Lora;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 56px;

      color: $blue;

      &::after {
        content: "";

        position: absolute;
        left: 0px;
        bottom: -10px;

        width: 100%;
        min-width: 398px;
        height: 11px;

        background: url("../../static/activity-line.svg") no-repeat;

        @include media-breakpoint-down(1024) {
          width: auto;
          min-width: 360px;
        }

        @include media-breakpoint-down(812) {
          display: block;
        }

        @include media-breakpoint-down(375) {
          min-width: 228px;
          height: 7px;
          background-size: contain;
        }
      }

      @include media-breakpoint-down(1024) {
        font-size: 36px;
      }

      @include media-breakpoint-down(375) {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 24px;
      }
    }

    &__text {
      margin-bottom: 40px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;

      color: $blue;

      @include media-breakpoint-down(812) {
        margin-bottom: 32px;
      }

      @include media-breakpoint-down(375) {
        font-size: 16px;
        line-height: 26px;
      }

      &_part {
        color: $orange;
        position: relative;

        &::after {
          content: "";

          position: absolute;
          left: -6px;
          bottom: -6px;

          width: 100%;
          min-width: 259px;
          height: 6px;

          background: url("../../static/about-line.svg") no-repeat;

          @include media-breakpoint-down(1280) {
            display: none;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
        }

        &_1 {
          &::before {
            display: none;

            left: -4px;
            bottom: -4px;
            width: 76px;
            height: 4px;

            background: url("../../static/about-line_mob_1.svg") no-repeat;

            @include media-breakpoint-down(375) {
              display: block;
            }
          }
        }

        &_2 {
          @include media-breakpoint-down(375) {
            display: block;
          }

          &::after {
            display: none;
          }
          &::before {
            display: none;
            left: 0px;
            bottom: -4px;

            width: 143px;
            height: 6px;

            background: url("../../static/about-line_mob_2.svg") no-repeat;
            @include media-breakpoint-down(375) {
              display: block;
            }
          }
        }
      }
    }
  }

  &-slider {
  }

  &-cta {
    &_desk {
      @include media-breakpoint-down(812) {
        display: none;
      }
    }

    &_mob {
      display: none;
      @include media-breakpoint-down(812) {
        display: block;
      }
    }
  }
}
