@import "../styles/var.scss";
@import "../styles/media-mixins.scss";

.hero {
	display: flex;
	align-items: center;
	padding: 200px 0 200px;

	@include media-breakpoint-down(1536) {
		padding: 160px 0 160px;
	}

	&__title {
		position: relative;
		margin-bottom: 40px;

		font-family: Lora;
		font-style: normal;
		font-weight: normal;
		font-size: 46px;
		line-height: 66px;
		color: $blue;

		@include media-breakpoint-down(576) {
			font-size: 27px;
			line-height: 1.2;
			margin-bottom: 32px;
		}

		@include media-breakpoint-down(375) {
			font-size: 23px;
			line-height: 40px;
		}
	}

	&__line {
		position: absolute;
		left: 0;
		top: 58px;

		width: 320px;
		height: 12px;

		background-image: url("../../static/hero-line.svg");
		background-size: cover;
		background-repeat: no-repeat;

		@include media-breakpoint-down(576) {
			width: 188px;
			height: 8px;

			top: 34px;
		}

		@include media-breakpoint-down(375) {
			width: 156px;
			height: 6px;

			top: 30px;
			left: -4px;
		}
	}
}
