@import "../styles/var.scss";
@import "../styles/media-mixins.scss";

.page-hero {
	height: 100vh;
	padding: 64px 0;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include media-breakpoint-down(768) {
		padding: 32px 0;
	}

	&_ammonia {
		@include media-breakpoint-down(768) {
			background-position-x: 80%;
		}
	}
	&_resourses {
		@include media-breakpoint-down(768) {
			background-position-x: 60%;
		}
	}
	&_fertilizers {
		background-position-y: 100%;
		@include media-breakpoint-down(768) {
			background-position-x: 65%;
		}
	}
	&_energy {
		background-position-y: 15%;

		@include media-breakpoint-down(768) {
			background-position-x: 15%;
		}
	}

	&__title {
		font-family: Lora;
		font-style: normal;
		font-weight: normal;
		font-size: 46px;
		line-height: 66px;

		color: #fff;

		@include media-breakpoint-down(768) {
			font-size: 26px;
			line-height: 40px;
		}
	}
}
