@import "../styles/var.scss";
@import "../styles/media-mixins.scss";

.hero {
	display: flex;
	align-items: center;
	padding: 180px 0 180px;

	@include media-breakpoint-down(812) {
		padding: 140px 0 140px;
	}

	&-title,
	&-title-en {
		position: relative;
		margin-bottom: 40px;

		font-family: Lora;
		font-style: normal;
		font-weight: normal;
		font-size: 46px;
		line-height: 1.5;
		letter-spacing: 2px;
		color: $blue;

		@include media-breakpoint-down(576) {
			font-size: 27px;
			margin-bottom: 32px;
		}

		@include media-breakpoint-down(375) {
			font-size: 23px;
		}
	}

	&-line,
	&-line-en {
		position: absolute;
		left: -18px;
		top: -14px;

		width: 367px;
		height: 106px;

		background-image: url("../../static/hero-title-line.svg");

		@include media-breakpoint-down(576) {
			width: 220px;
			height: 64px;
			left: -7px;
			top: -9px;
			background-size: cover;
		}

		@include media-breakpoint-down(375) {
			width: 190px;
			height: 55px;
			left: -7px;
			top: -9px;
			font-size: 23px;
		}

		&-en {
			width: 350px;
			height: 102px;
			background-repeat: no-repeat;
			background-size: contain;

			@include media-breakpoint-down(576) {
				width: 214px;
				height: 62px;
				left: -8px;
				top: -9px;
				background-size: cover;
			}

			@include media-breakpoint-down(375) {
				width: 184px;
				height: 53px;
				left: -7px;
				top: -9px;
				font-size: 23px;
			}
		}
	}
}
